body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px #888888;
  border-bottom: 3px solid rgb(115, 115, 114);
  margin-bottom: 10px;
}

.skyblue {
  color: skyblue;
}


.pink {
  color: pink;
}

.my-profile {
  color: skyblue;
}

.bold {
  font-weight: bold;
}